<section class="py-7 bg-light">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 col-md-10 col-12">
                <!-- text -->
                <div>
                    <div class="mb-4">
                        <h1 class=" fw-bold mb-4">Affichage des offres d'emploi pour <br /><span
                                class="text-primary">responsable informatique</span>, Brazzaville
                        </h1>
                    </div>
                    <app-text-field></app-text-field>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="py-7 " style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xl-3">
                <div class="card border mb-6 mb-md-0 shadow-none">
                    <div class="card-header">
                        <h4 class="mb-0 fs-5"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-filter text-muted me-2" viewBox="0 0 16 16">
                                <path
                                    d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z">
                                </path>
                            </svg>Tous les filtres</h4>
                    </div>
                    <div class="card-body py-3">
                        <a class="fs-5 text-dark fw-semibold" data-bs-toggle="collapse" href="#collapseExample"
                            role="button" aria-expanded="false" aria-controls="collapseExample">
                            Emplacements <span class="float-end"><svg xmlns="http://www.w3.org/2000/svg" width="14"
                                    height="14" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                                    </path>
                                </svg></span>
                        </a>
                        <div class="collapse show" id="collapseExample">
                            <div class="mt-3">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckLocationOne">
                                    <label class="form-check-label" for="flexCheckLocationOne">
                                        Gujarat <span class="text-muted">(4)</span>
                                    </label>
                                </div>
                                <div class="form-check mb-2 ">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckLocationTwo "
                                        checked="">
                                    <label class="form-check-label" for="flexCheckLocationTwo ">
                                        Rajasthan <span class="text-muted">(8)</span>
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value=""
                                        id="flexCheckLocationThree ">
                                    <label class="form-check-label" for="flexCheckLocationThree ">
                                        Delhi <span class="text-muted">(12)</span>
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value=""
                                        id="flexCheckLocationFour ">
                                    <label class="form-check-label" for="flexCheckLocationFour ">
                                        Pune <span class="text-muted">(412)</span>
                                    </label>
                                </div>
                                <a href="#" class="fw-semibold">12+ More</a>
                            </div>
                        </div>

                    </div>
                    <div class="card-body border-top py-3">
                        <a class="fs-5 text-dark fw-semibold" data-bs-toggle="collapse" href="#collapseExampleSecond"
                            role="button" aria-expanded="false" aria-controls="collapseExampleSecond">
                            Salaire <span class="float-end"><svg xmlns="http://www.w3.org/2000/svg" width="14"
                                    height="14" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                                    </path>
                                </svg></span>
                        </a>
                        <div class="collapse show" id="collapseExampleSecond">
                            <div class="mt-3">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckSalaryOne">
                                    <label class="form-check-label" for="flexCheckSalaryOne">
                                        0-3 Lakhs
                                    </label>
                                </div>
                                <div class="form-check mb-2 ">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckSalaryTwo "
                                        checked="">
                                    <label class="form-check-label" for="flexCheckSalaryTwo ">
                                        3-6 Lakhs
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckSalaryThree ">
                                    <label class="form-check-label" for="flexCheckSalaryThree ">
                                        6-10 Lakhs
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckSalaryFour ">
                                    <label class="form-check-label" for="flexCheckSalaryFour ">
                                        10-15 Lakhs
                                    </label>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="card-body border-top py-3">
                        <h4 class="mb-4 fs-5">Expérience</h4>
                        <div id="slider" class="noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr">
                            <div class="noUi-base">
                                <div class="noUi-connects">
                                    <div class="noUi-connect" style="transform: translate(0%, 0px) scale(0.533333, 1);">
                                    </div>
                                </div>
                                <div class="noUi-origin" style="transform: translate(-46.6667%, 0px); z-index: 4;">
                                    <div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0"
                                        role="slider" aria-orientation="horizontal" aria-valuemin="0.0"
                                        aria-valuemax="60.0" aria-valuenow="32.0" aria-valuetext="32.00">
                                        <div class="noUi-touch-area"></div>
                                        <!--<div class="noUi-tooltip"></div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-2 fs-6 text-dark">
                            <span>4 yrs</span>
                            <span>30 yrs</span>
                        </div>


                    </div>
                    <div class="card-body border-top py-3">
                        <a class="fs-5 text-dark fw-semibold" data-bs-toggle="collapse" href="#collapseExampleThird"
                            role="button" aria-expanded="false" aria-controls="collapseExampleThird">
                            Dernière mise à jour <span class="float-end"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="14" height="14" fill="currentColor" class="bi bi-chevron-down"
                                    viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                </svg></span>
                        </a>
                        <div class="collapse show" id="collapseExampleThird">
                            <div class="mt-3">
                                <select class="selectpicker form-control" data-width="100%">
                                    <option value="">Dernier jour</option>
                                    <option value="Newest">Le plus récent</option>
                                    <option value="Oldest">Le plus ancien</option>
                                </select>

                            </div>
                        </div>

                    </div>
                    <div class="card-body border-top py-3">
                        <a class="fs-5 text-dark fw-semibold" data-bs-toggle="collapse" href="#collapseExampleFourth"
                            role="button" aria-expanded="false" aria-controls="collapseExampleFourth">
                            Éducation <span class="float-end"><svg xmlns="http://www.w3.org/2000/svg" width="14"
                                    height="14" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                                    </path>
                                </svg></span>
                        </a>
                        <div class="collapse show" id="collapseExampleFourth">
                            <div class="mt-3">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckEduFive">
                                    <label class="form-check-label" for="flexCheckEduFive">
                                        M.Tech
                                    </label>
                                </div>
                                <div class="form-check mb-2 ">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckEduSix "
                                        checked="">
                                    <label class="form-check-label" for="flexCheckEduSix ">
                                        MBA / MTech
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckEduSeven ">
                                    <label class="form-check-label" for="flexCheckEduSeven ">
                                        Tout diplômé
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckEduEight ">
                                    <label class="form-check-label" for="flexCheckEduEight ">
                                        Post Graduate
                                    </label>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="card-body py-3 d-grid">
                        <a href="#" class="btn btn-outline-secondary">
                            Effacer les données
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xl-9 col-md-8 mb-6 mb-md-0">
                <div class="row align-items-center mb-4">
                    <div class="col">
                        <p class="mb-0">1 - 20 sur 86 Emplois de responsable informatique en Inde</p>
                    </div>
                    <div class="col-auto">
                        <div class="d-flex ">
                            <div class="nav btn-group flex-nowrap" role="tablist">
                                <a href="job-grid.html"
                                    class="btn btn-outline-secondary btn-icon d-flex align-items-center  ">
                                    <span class="fe fe-grid"></span>
                                </a>
                                <a href="job-listing.html"
                                    class="btn btn-outline-secondary active btn-icon  d-flex align-items-center ">
                                    <span class="fe fe-list"></span>
                                </a>
                            </div>
                            <div class="ms-3">
                                <select class="selectpicker form-control" data-width="100%">
                                    <option value="">Tri</option>
                                    <option value="Newest">Le plus récent</option>
                                    <option value="Oldest">Le plus ancien</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-bordered mb-3 card-hover cursor-pointer">
                    <!-- card body -->
                    <div class="card-body" (click)="openUrl('offer/one')">
                        <div>
                            <div class="d-md-flex">
                                <div class="mb-3 mb-md-0">
                                    <!-- Img -->

                                    <img style="width: 50px; height: 50px;"
                                        src="assets/images/entreprises/congoTelecom.jpeg"
                                        alt="Geeks Bootstrap 5 Template" class="icon-shape border rounded-circle">
                                </div>
                                <!-- text -->
                                <div class="ms-md-3  w-100 mt-3 mt-xl-1">
                                    <div class="d-flex justify-content-between mb-4">
                                        <div>
                                            <h3 class="mb-1 fs-4"><a
                                                    href="https://geeksui.codescandy.com/geeks/pages/jobs/job-single.html"
                                                    class="text-inherit">Ingénieure en CyberSécurité</a> </h3>
                                            <div>
                                                <span>Congo telecom </span>
                                                <!-- icon -->
                                                <span class="text-dark ms-2 fw-medium">5.0 <svg
                                                        xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                                        fill="currentColor"
                                                        class="bi bi-star-fill text-warning align-baseline"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>

                                                </span><span class="ms-0">(324 Commentaires)</span>
                                            </div>
                                        </div>
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-bookmark text-muted bookmark"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                            </svg>
                                        </div>

                                    </div>

                                    <div class="d-md-flex justify-content-between ">
                                        <div class="mb-2 mb-lg-0">
                                            <!-- year -->
                                            <span class="me-2"> <i class="fe fe-briefcase text-muted"></i><span
                                                    class="ms-1 ">0 - 5
                                                    ans</span></span>
                                            <!-- salary -->
                                            <span class="me-2">
                                                FCFA<span class="ms-1 ">5k -
                                                    8k</span></span>
                                            <!-- location -->
                                            <span class="me-2">
                                                <i class="fe fe-map-pin text-muted"></i><span
                                                    class="ms-1 ">Brazzaville</span></span>
                                        </div>
                                        <!-- day -->
                                        <div>
                                            <i class="fe fe-clock text-muted"></i> <span> il y a 1 jour</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- card -->
                <div class="card card-bordered  mb-3 card-hover cursor-pointer">
                    <!-- card body -->
                    <div class="card-body" (click)="openUrl('offer/one')">
                        <div>
                            <div class="d-md-flex">
                                <div class="mb-3 mb-md-0">
                                    <!-- Img -->

                                    <img style="width: 50px; height: 50px;" src="assets/images/entreprises/bdeac.jpeg"
                                        alt="" class="icon-shape border rounded-circle">
                                </div>
                                <!-- text -->
                                <div class="ms-md-3  w-100 mt-3 mt-xl-1">
                                    <div class="d-flex justify-content-between mb-4">
                                        <div>
                                            <!-- heading -->
                                            <h3 class="mb-1 fs-4"><a
                                                    href="https://geeksui.codescandy.com/geeks/pages/jobs/job-single.html"
                                                    class="text-inherit">Responsable du Marketing</a>
                                            </h3>
                                            <div>
                                                <span>à la
                                                    BANQUE DE DEVELOPPEMENT DES ETATS DE L'AFRIQUE CENTRALE</span>
                                                <!-- icon -->
                                                <span class="text-dark ms-2 fw-medium">3.9 <svg
                                                        xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                                        fill="currentColor"
                                                        class="bi bi-star-fill text-warning align-baseline"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>

                                                </span><span class="ms-0">(424 Commentaires)</span>
                                            </div>
                                        </div>
                                        <div>
                                            <!-- icon -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-bookmark text-muted bookmark"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                            </svg>
                                        </div>

                                    </div>
                                    <div>
                                        <div class="d-md-flex justify-content-between ">
                                            <div class="mb-2 mb-md-0">
                                                <!-- year -->
                                                <span class="me-2"> <i class="fe fe-briefcase text-muted"></i><span
                                                        class="ms-1 ">2 - 6
                                                        ans</span></span>
                                                <!-- year -->
                                                <span class="me-2">
                                                    FCFA<span class="ms-1 ">Non
                                                        divulgué </span></span>
                                                <!-- location -->
                                                <span class="me-2">
                                                    <i class="fe fe-map-pin text-muted"></i><span
                                                        class="ms-1 ">Brazzaville</span></span>
                                            </div>
                                            <div>
                                                <!-- icon -->
                                                <i class="fe fe-clock text-muted"></i> <span> il y a 1 jour</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- card -->
                <div class="card card-bordered  mb-3 card-hover cursor-pointer">
                    <!-- card body -->
                    <div class="card-body" (click)="openUrl('offer/one')">
                        <div>
                            <div class="d-md-flex">
                                <div class="mb-3 mb-md-0">
                                    <!-- Img -->

                                    <img style="width: 50px; height: 50px;" src="assets/images/entreprises/mucodec.png"
                                        alt="" class="icon-shape border rounded-circle">
                                </div>
                                <!-- text -->
                                <div class="ms-md-3  w-100 mt-3 mt-xl-1">
                                    <div class="d-flex justify-content-between mb-4">
                                        <div>
                                            <!-- heading -->
                                            <h3 class="mb-1 fs-4"><a
                                                    href="https://geeksui.codescandy.com/geeks/pages/jobs/job-single.html"
                                                    class="text-inherit">Responsable Comptage</a> </h3>
                                            <div>
                                                <span>à MUCODEC </span>
                                                <!-- star -->
                                                <span class="text-dark ms-2 fw-medium">3.9 <svg
                                                        xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                                        fill="currentColor"
                                                        class="bi bi-star-fill text-warning align-baseline"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                    <!-- Commentaires -->
                                                </span><span class="ms-0">(523 Commentaires)</span>
                                            </div>
                                        </div>
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-bookmark text-muted bookmark"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                            </svg>
                                        </div>

                                    </div>
                                    <div>
                                        <div class="d-md-flex justify-content-between ">
                                            <div class="mb-2 mb-md-0">
                                                <!-- year -->
                                                <span class="me-2"> <i class="fe fe-briefcase text-muted"></i><span
                                                        class="ms-1 ">0 - 2
                                                        ans</span></span>
                                                <span class="me-2">
                                                    <!-- salary -->
                                                    FCFA<span class="ms-1 ">Non
                                                        divulgué</span></span>
                                                <span class="me-2">
                                                    <!-- location -->
                                                    <i class="fe fe-map-pin text-muted"></i><span
                                                        class="ms-1 ">Brazzaville</span></span>
                                            </div>
                                            <div>
                                                <!-- time -->
                                                <i class="fe fe-clock text-muted"></i> <span>
                                                    Il y a un mois</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card -->
                <div class="card card-bordered  mb-3 card-hover cursor-pointer">
                    <!-- card body -->
                    <div class="card-body" (click)="openUrl('offer/one')">
                        <div>
                            <div class="d-md-flex">
                                <div class="mb-3 mb-md-0">
                                    <!-- Img -->
                                    <img src="assets/images/entreprises/e²c.jpeg" style="width: 50px; height: 50px;"
                                        alt="Geeks UI - Bootstrap 5 Template" class="icon-shape border rounded-circle">
                                </div>
                                <!-- text -->
                                <div class="ms-md-3 w-100 mt-3 mt-xl-1">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                                            <!-- heading -->
                                            <h3 class="mb-1 fs-4"><a
                                                    href="https://geeksui.codescandy.com/geeks/pages/jobs/job-single.html"
                                                    class="text-inherit">Consultant Technique</a>

                                            </h3>

                                            <div>
                                                <span>à E²C</span>
                                                <!-- star -->
                                                <span class="text-dark ms-2 fw-medium">4.5 <svg
                                                        xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                                        fill="currentColor"
                                                        class="bi bi-star-fill text-warning align-baseline"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>

                                                </span><span class="ms-0">(131 Commentaires)</span>
                                            </div>


                                        </div>
                                        <div>
                                            <!-- bookmark -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-bookmark text-muted bookmark"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                            </svg>
                                        </div>

                                    </div>

                                    <div class="d-md-flex justify-content-between ">
                                        <div class="mb-2 mb-md-0">
                                            <!-- year -->
                                            <span class="me-2"> <i class="fe fe-briefcase text-muted"></i><span
                                                    class="ms-1 ">1 - 5
                                                    ans</span></span>
                                            <!-- salary -->

                                            <span class="me-2">
                                                FCFA<span class="ms-1 ">12k
                                                    - 18k</span></span>
                                            <!-- location -->
                                            <span class="me-2">
                                                <i class="fe fe-map-pin text-muted"></i><span
                                                    class="ms-1 ">Brazzaville</span></span>
                                        </div>
                                        <!-- time -->
                                        <div>
                                            <i class="fe fe-clock text-muted"></i> <span> il y a 21 heures</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- card -->
                <div class="card card-bordered  mb-3 card-hover cursor-pointer">
                    <!-- card body -->
                    <div class="card-body" (click)="openUrl('offer/one')">
                        <div>
                            <div class="d-md-flex">
                                <div class="mb-3 mb-md-0">
                                    <!-- Img -->

                                    <img style="width: 50px; height: 50px;" src="assets/images/entreprises/lcde.jpeg"
                                        alt="" class="icon-shape border rounded-circle">
                                </div>
                                <!-- text -->
                                <div class="ms-md-3  w-100 mt-3 mt-xl-1">
                                    <div class="d-flex justify-content-between mb-4">
                                        <div>
                                            <!-- heading -->
                                            <h3 class="mb-1 fs-4"><a
                                                    href="https://geeksui.codescandy.com/geeks/pages/jobs/job-single.html"
                                                    class="text-inherit">Agent de Marketing</a> </h3>
                                            <div>
                                                <span>à La Congolaise Des Eaux </span>
                                                <span class="text-dark ms-2 fw-medium">4.9 <svg
                                                        xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                                        fill="currentColor"
                                                        class="bi bi-star-fill text-warning align-baseline"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>

                                                </span><span class="ms-0">(923 Commentaires)</span>
                                            </div>
                                        </div>
                                        <div>
                                            <!-- icon -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-bookmark text-muted bookmark"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                            </svg>
                                        </div>

                                    </div>
                                    <div>
                                        <div class="d-md-flex justify-content-between ">
                                            <div class="mb-2 mb-md-0">
                                                <!-- year -->
                                                <span class="me-2"> <i class="fe fe-briefcase text-muted"></i><span
                                                        class="ms-1 ">2 - 6
                                                        ans</span></span>
                                                <!-- salary -->
                                                <span class="me-2">
                                                    FCFA<span class="ms-1 ">Non
                                                        divilgué</span></span>
                                                <!-- location -->
                                                <span class="me-2">
                                                    <i class="fe fe-map-pin text-muted"></i><span
                                                        class="ms-1 ">Brazzaville</span></span>
                                            </div>
                                            <div>
                                                <!-- time -->
                                                <i class="fe fe-clock text-muted"></i> <span> il y a 2 mois</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- card -->

                <!-- pagination start -->
                <ul class="pagination mt-4 mb-2">
                    <li class="page-item disabled">
                        <a class="page-link mx-1 rounded" href="#" tabindex="-1" aria-disabled="true">
                            <i class="bi bi-chevron-left"></i></a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link mx-1 rounded" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link mx-1 rounded" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link mx-1 rounded" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link mx-1 rounded" href="#">
                            <i class="bi bi-chevron-right"></i></a>
                    </li>
                </ul>
                <!-- pagination end -->


            </div>

        </div>

    </div>
</section>