<section class="py-lg-12 pb-8">
    <!-- container -->

    <div class="container">
        <!-- row -->

        <div class="row">
            <div class="offset-xl-2 col-xl-8 col-md-12 col-12">
                <div class=" text-center mb-8">
                    <!-- col -->


                    <!-- text -->

                    <span class="text-uppercase text-primary fw-semibold ls-md">Dernière offre d'emploi</span>
                    <!-- heading -->

                    <h2 class="h1 fw-bold mt-3">Explorez à distance convivial, flexible
                        opportunités d'emploi.</h2>


                </div>
                <!-- row -->

                <div class="card card-bordered mb-4 card-hover cursor-pointer">
                    <!-- card body -->
                    <div class="card-body">
                        <div>
                            <div class="d-md-flex">
                                <div class="mb-3 mb-md-0">
                                    <!-- Img -->
                                    <img src="assets/images/entreprises/e²c.jpeg" style="width: 50px; height: 50px;"
                                        alt="Geeks UI - Bootstrap 5 Template" class="icon-shape border rounded-circle">
                                </div>
                                <!-- text -->
                                <div class="ms-md-3 w-100 mt-3 mt-xl-1">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                                            <!-- heading -->
                                            <h3 class="mb-1 fs-4"><a
                                                    href="https://geeksui.codescandy.com/geeks/pages/jobs/job-single.html"
                                                    class="text-inherit">Consultant Technique</a>

                                            </h3>

                                            <div>
                                                <span>à E²C</span>
                                                <!-- star -->
                                                <span class="text-dark ms-2 fw-medium">4.5 <svg
                                                        xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                                        fill="currentColor"
                                                        class="bi bi-star-fill text-warning align-baseline"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>

                                                </span><span class="ms-0">(131 Commentaires)</span>
                                            </div>


                                        </div>
                                        <div>
                                            <!-- bookmark -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-bookmark text-muted bookmark"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                            </svg>
                                        </div>

                                    </div>

                                    <div class="d-md-flex justify-content-between ">
                                        <div class="mb-2 mb-md-0">
                                            <!-- year -->
                                            <span class="me-2"> <i class="fe fe-briefcase text-muted"></i><span
                                                    class="ms-1 ">1 - 5
                                                    ans</span></span>
                                            <!-- salary -->

                                            <span class="me-2">
                                                FCFA<span class="ms-1 ">12k
                                                    - 18k</span></span>
                                            <!-- location -->
                                            <span class="me-2">
                                                <i class="fe fe-map-pin text-muted"></i><span
                                                    class="ms-1 ">Brazzaville</span></span>
                                        </div>
                                        <!-- time -->
                                        <div>
                                            <i class="fe fe-clock text-muted"></i> <span> il y a 21 heures</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- card -->
                <div class="card card-bordered  mb-4 card-hover cursor-pointer">
                    <!-- card body -->
                    <div class="card-body">
                        <div>
                            <div class="d-md-flex">
                                <div class="mb-3 mb-md-0">
                                    <!-- Img -->

                                    <img style="width: 50px; height: 50px;"
                                        src="assets/images/entreprises/congoTelecom.jpeg"
                                        alt="Geeks Bootstrap 5 Template" class="icon-shape border rounded-circle">
                                </div>
                                <!-- text -->
                                <div class="ms-md-3  w-100 mt-3 mt-xl-1">
                                    <div class="d-flex justify-content-between mb-4">
                                        <div>
                                            <h3 class="mb-1 fs-4"><a
                                                    href="https://geeksui.codescandy.com/geeks/pages/jobs/job-single.html"
                                                    class="text-inherit">Ingénieure en CyberSécurité</a> </h3>
                                            <div>
                                                <span>Congo telecom </span>
                                                <!-- icon -->
                                                <span class="text-dark ms-2 fw-medium">5.0 <svg
                                                        xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                                        fill="currentColor"
                                                        class="bi bi-star-fill text-warning align-baseline"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>

                                                </span><span class="ms-0">(324 Commentaires)</span>
                                            </div>
                                        </div>
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-bookmark text-muted bookmark"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                            </svg>
                                        </div>

                                    </div>

                                    <div class="d-md-flex justify-content-between ">
                                        <div class="mb-2 mb-lg-0">
                                            <!-- year -->
                                            <span class="me-2"> <i class="fe fe-briefcase text-muted"></i><span
                                                    class="ms-1 ">0 - 5
                                                    ans</span></span>
                                            <!-- salary -->
                                            <span class="me-2">
                                                FCFA<span class="ms-1 ">5k -
                                                    8k</span></span>
                                            <!-- location -->
                                            <span class="me-2">
                                                <i class="fe fe-map-pin text-muted"></i><span
                                                    class="ms-1 ">Brazzaville</span></span>
                                        </div>
                                        <!-- day -->
                                        <div>
                                            <i class="fe fe-clock text-muted"></i> <span> il y a 1 jour</span>
                                        </div>
                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <!-- card -->
                <div class="card card-bordered  mb-4 card-hover cursor-pointer">
                    <!-- card body -->
                    <div class="card-body">
                        <div>
                            <div class="d-md-flex">
                                <div class="mb-3 mb-md-0">
                                    <!-- Img -->

                                    <img style="width: 50px; height: 50px;" src="assets/images/entreprises/bdeac.jpeg"
                                        alt="" class="icon-shape border rounded-circle">
                                </div>
                                <!-- text -->
                                <div class="ms-md-3  w-100 mt-3 mt-xl-1">
                                    <div class="d-flex justify-content-between mb-4">
                                        <div>
                                            <!-- heading -->
                                            <h3 class="mb-1 fs-4"><a
                                                    href="https://geeksui.codescandy.com/geeks/pages/jobs/job-single.html"
                                                    class="text-inherit">Responsable du Marketing</a>
                                            </h3>
                                            <div>
                                                <span>à la
                                                    BANQUE DE DEVELOPPEMENT DES ETATS DE L'AFRIQUE CENTRALE</span>
                                                <!-- icon -->
                                                <span class="text-dark ms-2 fw-medium">3.9 <svg
                                                        xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                                        fill="currentColor"
                                                        class="bi bi-star-fill text-warning align-baseline"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>

                                                </span><span class="ms-0">(424 Commentaires)</span>
                                            </div>
                                        </div>
                                        <div>
                                            <!-- icon -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-bookmark text-muted bookmark"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                            </svg>
                                        </div>

                                    </div>
                                    <div>
                                        <div class="d-md-flex justify-content-between ">
                                            <div class="mb-2 mb-md-0">
                                                <!-- year -->
                                                <span class="me-2"> <i class="fe fe-briefcase text-muted"></i><span
                                                        class="ms-1 ">2 - 6
                                                        ans</span></span>
                                                <!-- year -->
                                                <span class="me-2">
                                                    FCFA<span class="ms-1 ">Non
                                                        divulgué </span></span>
                                                <!-- location -->
                                                <span class="me-2">
                                                    <i class="fe fe-map-pin text-muted"></i><span
                                                        class="ms-1 ">Brazzaville</span></span>
                                            </div>
                                            <div>
                                                <!-- icon -->
                                                <i class="fe fe-clock text-muted"></i> <span> il y a 1 jour</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <!-- card -->
                <div class="card card-bordered  mb-4 card-hover cursor-pointer">
                    <!-- card body -->
                    <div class="card-body">
                        <div>
                            <div class="d-md-flex">
                                <div class="mb-3 mb-md-0">
                                    <!-- Img -->

                                    <img style="width: 50px; height: 50px;" src="assets/images/entreprises/mucodec.png"
                                        alt="" class="icon-shape border rounded-circle">
                                </div>
                                <!-- text -->
                                <div class="ms-md-3  w-100 mt-3 mt-xl-1">
                                    <div class="d-flex justify-content-between mb-4">
                                        <div>
                                            <!-- heading -->
                                            <h3 class="mb-1 fs-4"><a
                                                    href="https://geeksui.codescandy.com/geeks/pages/jobs/job-single.html"
                                                    class="text-inherit">Responsable Comptage</a> </h3>
                                            <div>
                                                <span>à MUCODEC </span>
                                                <!-- star -->
                                                <span class="text-dark ms-2 fw-medium">3.9 <svg
                                                        xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                                        fill="currentColor"
                                                        class="bi bi-star-fill text-warning align-baseline"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                    <!-- Commentaires -->
                                                </span><span class="ms-0">(523 Commentaires)</span>
                                            </div>
                                        </div>
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-bookmark text-muted bookmark"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                            </svg>
                                        </div>

                                    </div>
                                    <div>
                                        <div class="d-md-flex justify-content-between ">
                                            <div class="mb-2 mb-md-0">
                                                <!-- year -->
                                                <span class="me-2"> <i class="fe fe-briefcase text-muted"></i><span
                                                        class="ms-1 ">0 - 2
                                                        ans</span></span>
                                                <span class="me-2">
                                                    <!-- salary -->
                                                    FCFA<span class="ms-1 ">Non
                                                        divulgué</span></span>
                                                <span class="me-2">
                                                    <!-- location -->
                                                    <i class="fe fe-map-pin text-muted"></i><span
                                                        class="ms-1 ">Brazzaville</span></span>
                                            </div>
                                            <div>
                                                <!-- time -->
                                                <i class="fe fe-clock text-muted"></i> <span>
                                                    Il y a un mois</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <!-- card -->
                <div class="card card-bordered  mb-4 card-hover cursor-pointer">
                    <!-- card body -->
                    <div class="card-body">
                        <div>
                            <div class="d-md-flex">
                                <div class="mb-3 mb-md-0">
                                    <!-- Img -->

                                    <img style="width: 50px; height: 50px;" src="assets/images/entreprises/lcde.jpeg"
                                        alt="" class="icon-shape border rounded-circle">
                                </div>
                                <!-- text -->
                                <div class="ms-md-3  w-100 mt-3 mt-xl-1">
                                    <div class="d-flex justify-content-between mb-4">
                                        <div>
                                            <!-- heading -->
                                            <h3 class="mb-1 fs-4"><a
                                                    href="https://geeksui.codescandy.com/geeks/pages/jobs/job-single.html"
                                                    class="text-inherit">Agent de Marketing</a> </h3>
                                            <div>
                                                <span>à La Congolaise Des Eaux </span>
                                                <span class="text-dark ms-2 fw-medium">4.9 <svg
                                                        xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                                        fill="currentColor"
                                                        class="bi bi-star-fill text-warning align-baseline"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>

                                                </span><span class="ms-0">(923 Commentaires)</span>
                                            </div>
                                        </div>
                                        <div>
                                            <!-- icon -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-bookmark text-muted bookmark"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                            </svg>
                                        </div>

                                    </div>
                                    <div>
                                        <div class="d-md-flex justify-content-between ">
                                            <div class="mb-2 mb-md-0">
                                                <!-- year -->
                                                <span class="me-2"> <i class="fe fe-briefcase text-muted"></i><span
                                                        class="ms-1 ">2 - 6
                                                        ans</span></span>
                                                <!-- salary -->
                                                <span class="me-2">
                                                    FCFA<span class="ms-1 ">Non
                                                        divilgué</span></span>
                                                <!-- location -->
                                                <span class="me-2">
                                                    <i class="fe fe-map-pin text-muted"></i><span
                                                        class="ms-1 ">Brazzaville</span></span>
                                            </div>
                                            <div>
                                                <!-- time -->
                                                <i class="fe fe-clock text-muted"></i> <span> il y a 2 mois</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <!-- card -->

                <!-- button -->
                <div class="mt-6 text-center">
                    <a href="#!" class="btn btn-outline-primary">Parcourir toutes les offres d'emploi</a>
                </div>
            </div>
        </div>

    </div>
</section>