<main>
    <!--presentation content-->
    <app-presentation></app-presentation>
    <!--presentation content-->

    <!--partner content-->
    <app-partner></app-partner>
    <!--partener content-->

    <!--opportunities content-->
    <app-opportunities></app-opportunities>
    <!--opportunities content-->


    <!--PROCESS content-->
    <app-process></app-process>
    <!--PROCESS content-->

    <!--Discover jobs content-->
    <app-discover></app-discover>
    <!--Discover jobs content-->

</main>