<!-- card -->
<div class="bg-white rounded-md-pill shadow rounded-3 mb-4">
    <!-- card body -->
    <div class="p-md-2 p-4">
        <!-- form -->
        <form class="row g-1">
            <div class="col-12 col-md-3">

                <!-- input -->
                <div class="input-group mb-2 mb-md-0 border-md-0 border rounded-pill">
                    <!-- input group -->
                    <span class="input-group-text bg-transparent border-0 pe-0 ps-md-3 ps-md-0" id="searchJob"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                            class="bi bi-search text-muted" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg></span>
                    <!-- search -->
                    <input type="search" class="form-control  rounded-pill border-0 ps-3 form-focus-none"
                        placeholder="Emploi ou mot clé" aria-label="Job Title" aria-describedby="searchJob">
                </div>

            </div>
            <div class="col-12 col-md-2">
                <!-- inpt group -->
                <div class="input-group mb-3 mb-md-0 border-md-0 border rounded-pill">
                    <span class="input-group-text bg-transparent border-0 pe-0 ps-md-0" id="location"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-geo-alt  text-muted" viewBox="0 0 16 16">
                            <path
                                d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg></span>
                    <!-- search -->
                    <input type="search" class="form-control rounded-pill  border-0 ps-3 form-focus-none"
                        placeholder="Localisation" aria-label="Search Job" aria-describedby="location">
                </div>

            </div>
            <div class="col-12 col-md-2">

                <!-- input -->
                <div class="input-group mb-2 mb-md-0 border-md-0 border rounded-pill">
                    <!-- input group -->
                    <span class="input-group-text bg-transparent border-0 pe-0 ps-md-3 ps-md-0" id="searchJob"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                            class="bi bi-search text-muted" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg></span>
                    <!-- search -->
                    <input type="search" class="form-control  rounded-pill border-0 ps-3 form-focus-none"
                        placeholder="Contrat" aria-label="Job Title" aria-describedby="searchJob">
                </div>

            </div>
            <div class="col-12 col-md-2">
                <!-- inpt group -->
                <div class="input-group mb-3 mb-md-0 border-md-0 border rounded-pill">
                    <span class="input-group-text bg-transparent border-0 pe-0 ps-md-0" id="location"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-geo-alt  text-muted" viewBox="0 0 16 16">
                            <path
                                d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg></span>
                    <!-- search -->
                    <input type="search" class="form-control rounded-pill  border-0 ps-3 form-focus-none"
                        placeholder="Activité" aria-label="Search Job" aria-describedby="location">
                </div>

            </div>
            <div class="offset-md-1 col-12 col-md-2  text-end d-grid">
                <!-- button -->
                <button type="submit" class="btn btn-primary rounded-pill">Recherche</button>
            </div>
        </form>
    </div>

</div>

<!-- text -->
<span class=" fs-4">Répertorie actuellement 30 642 emplois de 5 717 entreprises</span>