<section class="py-lg-14 pt-8 py-10">
    <!-- container -->
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-xl-10 col-md-12 col-12">
                <div class="row text-center">
                    <!-- col -->
                    <div class="col-md-12 px-lg-10 mb-8 mt-6">
                        <span class="text-uppercase text-primary fw-semibold ls-md">Processus</span>
                        <!-- heading -->
                        <h2 class="h1 fw-bold mt-3">Comment ça fonctionne
                        </h2>
                    </div>
                </div>
                <div class="row gy-6">
                    <!-- col -->

                    <div class="col-md-4 col-12">
                        <div class=" text-center">
                            <!-- icon -->

                            <div
                                class="icon-shape icon-lg border border-primary border-2 fs-3 rounded-circle mb-4 process-line text-primary smooth-shadow-md">
                                1
                            </div>
                            <!-- heading -->

                            <h3>Rechercher un emploi</h3>
                            <!-- text -->

                            <p class="mb-0 px-4">Trouvez un emploi par recherche ou parmi les offres recents</p>

                        </div>
                    </div>
                    <!-- col -->

                    <div class="col-md-4 col-12">
                        <div class=" text-center">
                            <!-- icon -->

                            <div
                                class="icon-shape icon-lg border border-primary border-2 fs-3 rounded-circle mb-4 process-line text-primary smooth-shadow-md">
                                2</div>
                            <!-- heading -->

                            <h3>Postuler à un emploi</h3>
                            <!-- text -->

                            <p class="mb-0 px-2">Deposer votre CV et lettre de motivation sur une offre que vous avez
                                selectionnée</p>

                        </div>
                    </div>
                    <!-- col -->

                    <div class="col-md-4 col-12">
                        <div class=" text-center">
                            <!-- icon -->

                            <div
                                class="icon-shape icon-lg border border-primary border-2 fs-3 rounded-circle mb-4 text-primary smooth-shadow-md">
                                3</div>
                            <!-- heading -->

                            <h3>Soumettre au recruteur</h3>
                            <!-- text -->

                            <p class="mb-0 px-3">Vos informations sont envoyé au recruteur pour examen</p>

                        </div>
                    </div>
                    <!-- button -->

                    <div class="col-12 mt-8 text-center">
                        <a href="#" class="btn btn-primary">Appliquer maintenant</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>