<section class="py-8" style="background-color: white;">
    <!-- container -->
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-xl-10 col-md-12 col-12">

                <!-- row -->
                <div class="row text-center">
                    <!-- col -->
                    <div class="col">
                        <div class="mb-3 mt-3">
                            <img src="https://geeksui.codescandy.com/geeks/assets/images/brand/gray-logo-airbnb.svg"
                                alt="logo">
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col">
                        <div class="mb-3 mt-3">
                            <img src="https://geeksui.codescandy.com/geeks/assets/images/brand/gray-logo-discord.svg"
                                alt="logo">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 mt-3">
                            <img src="https://geeksui.codescandy.com/geeks/assets/images/brand/gray-logo-intercom.svg"
                                alt="logo">
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col">
                        <div class="mb-3 mt-3">
                            <img src="https://geeksui.codescandy.com/geeks/assets/images/brand/gray-logo-stripe.svg"
                                alt="logo">
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col">
                        <div class="mb-3 mt-3">
                            <img src="https://geeksui.codescandy.com/geeks/assets/images/brand/gray-logo-netflix.svg"
                                alt="logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>