<footer class="pt-lg-10 pt-5 footer bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <!-- about company -->
                <div class="mb-4">
                    <img style="width: 205px;" src="assets/images/logo/logo.png" alt="" class="logo-inverse ">
                    <div class="mt-4">
                        <p>Carrière Soft est un Système d’Information des Ressources Humaines en mode SaaS développé par
                            l’entreprise Simoder.</p>
                        <!-- social media -->
                        <div class="fs-4 mt-4">
                            <a href="https://www.facebook.com/simodercongo"
                                class="bi bi-facebook fs-4 text-muted me-2"></a>
                            <a href="https://twitter.com/SimoderTech/" class="bi bi-twitter text-muted me-2"></a>
                            <a href="https://www.instagram.com/simoder_tech/" class="bi bi-instagram text-muted "></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offset-lg-1 col-lg-2 col-md-3 col-6">
                <div class="mb-4">
                    <!-- list -->
                    <h3 class="fw-bold mb-3">Menu</h3>
                    <ul class="list-unstyled nav nav-footer flex-column nav-x-0">
                        <li><a href="javascript:;" (click)="openUrl('')" class="nav-link">Accueil</a></li>
                        <li><a href="javascript:;" (click)="openUrl('about')" class="nav-link">A propos</a></li>
                        <li><a href="javascript:;" (click)="openUrl('tarif')" class="nav-link">Tarif</a></li>
                        <li><a href="javascript:;" (click)="openUrl('product')" class="nav-link">Produit</a></li>
                        <li><a href="javascript:;" (click)="openUrl('contact')" class="nav-link">Nous Contacter</a></li>
                        <li><a href="javascript:;" (click)="openUrl('')" class="nav-link">Offre d'emploi</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6">
                <div class="mb-4">
                    <!-- list -->
                    <h3 class="fw-bold mb-3">Support</h3>
                    <ul class="list-unstyled nav nav-footer flex-column nav-x-0">
                        <li><a href="javascript:;" (click)="openUrl('support/help')" class="nav-link">Aide et
                                Support</a></li>
                        <li><a href="javascript:;" (click)="openUrl('support/become-Partenor')" class="nav-link">Devenir
                                Partenaire</a>
                        </li>
                        <li><a href="javascript:;" (click)="openUrl('support/get-App')" class="nav-link">Obtenir
                                l'application</a>
                        </li>
                        <li><a href="javascript:;" (click)="openUrl('support/faq')" class="nav-link">FAQ</a></li>
                        <li><a href="javascript:;" (click)="openUrl('support/tutorial')"
                                class="nav-link">Didacticiel</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <!-- contact info -->
                <div class="mb-4">
                    <h3 class="fw-bold mb-3">
                        Entrer en contact</h3>
                    <p>Pointe-Noire : Centre ville, Marché Plateaux <br />
                        Brazzaville: 15 Rue Loutété, Moukondo</p>
                    <p class="mb-1">Email: <a href="#">info@simoder.com</a></p>
                    <p>Téléphone: <span class="text-dark fw-semibold">+242 06 663 4463</span></p>

                </div>
            </div>
        </div>
        <div class="row align-items-center g-0 border-top py-2 mt-6">
            <!-- Desc -->
            <div class="col-lg-4 col-md-5 col-12">
                <span>© <span id="copyright2">
                        <script>document.getElementById('copyright2').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                    </span> Copyright © SIMODER 2023. Tous droits reservés</span>
            </div>

            <!-- Links -->
            <div class="col-12 col-md-7 col-lg-8 d-md-flex justify-content-end">
                <nav class="nav nav-footer">
                    <a class="nav-link ps-0" href="javascript:;" (click)="openUrl('politique')">Politique de
                        confidentialité</a>

                    <a class="nav-link" href="javascript:;" (click)="openUrl('conditions')">Conditions d'utilisation</a>
                </nav>
            </div>
        </div>
    </div>
</footer>