<section class="bg-light py-lg-14 py-7 bg-cover ">
    <!-- container -->
    <div class="container ">
        <!-- row -->
        <div class="row align-items-center">
            <div class="col-lg-8 col-12">
                <div>
                    <div class=" text-center text-md-start ">
                        <!-- heading -->
                        <h1 class=" display-2 fw-bold  mb-3">Trouver un emploi
                            qui vous correspont</h1>
                        <!-- lead 
                        <p class="lead">The largest remote work community in the world. Sign up and post a job
                            or create your developer profile.</p>-->
                    </div>
                    <div class="mt-8">
                        <app-text-field></app-text-field>
                    </div>
                </div>
            </div>
            <div class="offset-lg-1 col-lg-3 col-12 text-center">
                <div class="position-relative d-none d-lg-block">
                    <img src="assets/images/job/png/job-hero-section.png" class="img-fluid " alt="img">
                    <div class="position-absolute top-0 mt-7 ms-n6 ms-md-n6 ms-lg-n12 start-0">
                        <img src="https://geeksui.codescandy.com/geeks/assets/images/job/job-hero-block-1.svg"
                            class="img-fluid " alt="img">
                    </div>
                    <div class="position-absolute bottom-0 mb-12 me-n6 me-md-n4 me-lg-n12 end-0 ">
                        <img src="https://geeksui.codescandy.com/geeks/assets/images/job/job-hero-block-2.svg"
                            class="img-fluid " alt="img">
                    </div>
                    <div class="position-absolute bottom-0 mb-n4 ms-n1 ms-md-n4 ms-lg-n7 start-0">
                        <img src="https://geeksui.codescandy.com/geeks/assets/images/job/job-hero-block-3.svg"
                            class="img-fluid " alt="img">
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>