<div class="bg-white py-17">
    <section class="container-fluid">
        <div class="row align-items-center min-vh-100">
            <!-- col -->
            <div class="col-lg-6 col-md-12 col-12">
                <div class="px-xl-20 py-7 py-lg-0">
                    <!-- content
                    <div class="d-flex justify-content-between mb-7 align-items-center">
                       content 
                        <a href="../index.html"><img src="assets/images/brand/logo/logo.svg" alt="logo"
                                class="logo-inverse">
                        </a>
                        theme switch 
                        <div class="form-check form-switch theme-switch d-none ">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                        </div>
                    </div>-->
                    <div class="">
                        <h1 class="display-4 fw-bold">Nos Contacts</h1>
                        <p class="lead text-dark">
                            Remplissez le formulaire à droite pour entrer en contact avec un membre de notre équipe, et
                            nous vous contacterons sous peu.
                        </p>
                        <div class="mt-8 fs-4">
                            <p class="mb-4">
                                Si vous cherchez de l'aide, veuillez visiter notre
                                <a href="#">portail d'assistance</a> avant de vous adresser directement.
                            </p>
                            <!-- address -->
                            <p class="d-flex">
                                <i class="bi bi-geo-alt text-primary me-2" style="font-size: 30px;"></i> Pointe-Noire :
                                Centre ville, Marché
                                Plateaux <br />
                                Brazzaville: 15 Rue Loutété, Moukondo
                            </p>
                            <p>
                                <i class="bi bi-envelope-open text-primary me-2" style="font-size: 30px;"></i>
                                info@simoder.com
                            </p>

                            <p>
                                <i class="bi bi-telephone text-primary me-2" style="font-size: 30px;"></i> +242 06 663
                                4483
                            </p>

                        </div>
                        <div class="mt-10">
                            <!--Facebook-->
                            <a href="https://www.facebook.com/simodercongo" class="text-muted me-3">
                                <i class="bi bi-facebook fs-3"></i>
                            </a>
                            <!--Twitter-->
                            <a href="https://twitter.com/SimoderTech/" class="text-muted me-3">
                                <i class="bi bi-twitter fs-3"></i>
                            </a>

                            <!--GitHub-->
                            <a href="https://https://github.com/" class="text-muted">
                                <i class="bi bi-github fs-3"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- background color -->
            <div
                class="col-lg-6 d-lg-flex align-items-center w-lg-50 min-vh-lg-100 position-fixed-lg bg-cover bg-light top-0 right-0">
                <div class="px-4 px-xxl-20 px-xl-14 py-8 py-lg-0">
                    <!-- form section -->
                    <div id="form">
                        <!-- form row -->
                        <form class="row">
                            <!-- form group -->
                            <div class="mb-3 col-12 col-md-6 w-100">
                                <!-- etoile rouge    
                                
                                    <span class="text-danger">*</span>
                                -->
                                <label class="form-label" for="fname">Nom:</label>
                                <input class="form-control " type="text" name="last name" id="fname"
                                    placeholder="Saisir votre Nom" required="">
                            </div>

                            <!-- form group -->
                            <div class="mb-3 col-12 col-md-6">
                                <label class="form-label" for="phone">Telephone</label>
                                <input class="form-control" type="text" name="phone" id="phone"
                                    placeholder="Téléphone sous format internationale (ex:+242XXXXXX)" required="">
                            </div>

                            <!-- form group -->
                            <div class="mb-3 col-12 col-md-6">
                                <label class="form-label" for="lname">Ville</label>
                                <input class="form-control" type="text" name="last name" id="lname"
                                    placeholder="Votre ville résidence" required="">
                            </div>
                            <!-- form group -->
                            <div class="mb-3 col-12 col-md-6 w-100">
                                <label class="form-label" for="email">Email:</label>
                                <!-- etoile rouge    
                                
                                    <span class="text-danger">*</span>
                                -->
                                <input class="form-control" type="email" name="email" id="email"
                                    placeholder="Votre addresse email" required="">
                            </div>
                            <!-- form group -->
                            <div class="mb-3 col-12 col-md-6">
                                <label class="form-label" for="lname">Object</label>
                                <input class="form-control" type="text" name="last name" id="lname" placeholder="Object"
                                    required="">
                            </div>
                            <!-- form group -->
                            <div class="mb-3 col-12 ">
                                <label class="text-dark form-label" for="messages">Message:</label>
                                <textarea class="form-control h-100" id="messages" rows="5"
                                    placeholder="Messages"></textarea>
                            </div>
                            <!-- button -->
                            <div class="mt-3 py-3 col-12">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Envoyer
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>